<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<% if session[:user_email].nil? %> 
<a href = "/asked/login">로그인</a>
<a href = "/asked/sign_up">회원가입</a>
<% else %>
<p><%=session[:user_email]%>님 환영합니다.</p>
  <p><% User.find_by(email: session[:user_email]).name %>님 환영합니다.</p>
  <a href = "/asked/logout">로그아웃</a>
  <p><%= %></p>



<% end %>



<%= yield %>

</body>
</html>
